*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

html {
  font-size: 62.5% !important; //1rem = 10px 10px/16px = 62.5%
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
}
