.price {
  color: $color-black;
  &__h2 {
    font-size: 1.8rem;
    font-weight: 700;
  }
  &__h3 {
    display: inline-block;
    color: $color-secondary;
    background-color: rgba($color-secondary, 0.2);
    border-radius: 0.5rem;
    padding: 0.5rem;
    position: relative;
    left: 8rem;
    top: -3.5rem;
  }
  &__span {
    display: block;
    color: $color-grayish;
    text-decoration: line-through;
    font-size: 1.4rem;
    margin-top: 0.7rem;
  }
}
