.veiw {

  &__thumbnail {
    &__main {
      height: 36rem;
      object-fit: cover;
      border-radius: 1rem;
      box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.2);
    }
    &__sub {
      display: block;
      height: 8rem;
      object-fit: cover;
      border-radius: 1rem;
      position: relative;
      margin-top: 1rem;
      margin-left: -4rem;

      &--active {
        border: 2px solid $color-secondary;
        opacity: 0.7;
      }
      &:hover {
        opacity: 0.7;
      }
    }
  }
}
