
//GRID 
$grid-width:114rem;
$grid-gutter-horizantal: 1.6rem;
$grid-gutter-vertical: 2rem;

//COLORS
$color-primary: hsl(25, 100%, 94%);
$color-secondary:  hsl(26, 100%, 55%) ;

$color-blue: hsl(220, 13%, 13%);
$color-Drark-grayish: hsl(219, 9%, 45%);
$color-grayish:  hsl(220, 14%, 75%);
$color-grayish-light: hsl(223, 64%, 98%);
$color-primary-light: hsl(0, 0%, 100%);
$color-black: hsl(0, 0%, 0%);

//FONTS
$font-primary: "Arial";
$font-secondary: "Arial";
$font-tertiary: "Arial";
$font-quaternary: "Arial";
$font-quinary: "Arial";

//FONT SIZES
$font-size-primary: 1.5rem;
$font-size-secondary: 1.5rem;
$font-size-tertiary: 1.5rem;
$font-size-quaternary: 1.5rem;
$font-size-quinary: 1.5rem;

//LINE HEIGHTS
$line-height-primary: 1.5rem;
$line-height-secondary: 1.5rem;
$line-height-tertiary: 1.5rem;

//BORDERS
$border-radius: 0.25rem;
$border-radius: 0.5rem;
$border-radius: 1rem;
$border-radius: 2rem;
$border-radius: 3rem;
$border-radius: 4rem;
$border-radius: 5rem;
$border-radius: 6rem;


//MEDIA QUERIES
