
//GRID 
$grid-width: 1140px;
$grid-gutter-horizantal: 1.6rem;
$grid-gutter-vertical: 2rem;

//COLORS
$color-primary: #FFF;
$color-primary-soft-1: #f1f1f1;
$color-primary-soft-2: #f2f2f2;
$color-secondary: #000;
$color-tertiary: #ff0000;

//FONTS
$font-primary: "Arial";
$font-secondary: "Arial";
$font-tertiary: "Arial";
$font-quaternary: "Arial";
$font-quinary: "Arial";

//FONT SIZES
$font-size-primary: 1.5rem;
$font-size-secondary: 1.5rem;
$font-size-tertiary: 1.5rem;
$font-size-quaternary: 1.5rem;
$font-size-quinary: 1.5rem;

//LINE HEIGHTS
$line-height-primary: 1.5rem;
$line-height-secondary: 1.5rem;
$line-height-tertiary: 1.5rem;

//BORDERS
$border-radius: 0.25rem;
$border-radius: 0.5rem;
$border-radius: 1rem;
$border-radius: 2rem;
$border-radius: 3rem;
$border-radius: 4rem;
$border-radius: 5rem;
$border-radius: 6rem;

//SPACING
$spacing-small: 0.25rem;
$spacing-small: 0.5rem;
$spacing-small: 1rem;

//MEDIA QUERIES
